<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128368484-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128368484-1');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Petit Ballet Academy: Ballet Studio in Springville, Utah</title>
<meta name="description" content="Petit Ballet Academy is a quality ballet studio located in Springville, Utah. New ballerinas will be taught the proper fundamentals, whereas experienced ballerinas will continue to build on the skills they have already. Come try out this new ballet studio!">
<meta name="keywords" content="Springville Ballet,Springville Ballet Class,Springville Ballet Studio,Ballet Class,Utah Ballet,Utah Ballet Class,Dance Class,Children's Ballet, Children's Ballet Class">
<meta name="author" content="Andrew Wilde">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
<link rel="stylesheet" type="text/css"  href="/static/css/payment.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/default.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:#f0deec;">
<!-- Navigation
    ==========================================-->
<!--<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="collapse navbar-collapse overlay" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center" style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);" >
        <li><a href="#about" class="page-scroll" style="color:#f0deec">Mission</a></li>
        <li><a href="#restaurant-menu" class="page-scroll" style="color:#f0deec">Classes</a></li>
        <li><a href="#team" class="page-scroll" style="color:#f0deec">Staff</a></li>
        <li><a href="#footer" class="page-scroll" style="color:#f0deec">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>-->
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="confirmation">
  <div class="section-title text-center center">
    <h3>Registration failed to process credit card! Please retry, or contact us directly at 385-404-8687.</h3>
    <center><a href="https://petitballetacademy.com">Go Back to Home</a></center>
  </div>
</div>


<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <h3>Studio Location</h3>
      <div class="contact-item">
        <p>925 South 1950 West Unit #4<br/>Springville, UT 84663</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Contact Info</h3>
      <div class="contact-item">
        <p>Phone: +1 385 404 8687</p>
        <p>Email: petitballetacademy@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="text-center" style="color:white">
    <p>&copy; 2019 Petit Ballet Academy LLC</p>
  </div>
</div>

<h1 style="visibility:hidden; background-color:#f0deec">Springville Ballet Studio</h1>

<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/static/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="/static/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script>
<!--<script type="text/javascript" src="/static/js/redirect.js"></script>-->

</body>
</html>
